<div id="wrapper">
  <div [class.loading]="loading$ | async" id="shopping-list">
    <div id="list">
      <h2>Shopping List</h2>
      <ul>
        <li
          *ngFor="let item of shoppingItems$ | async"
          (dblclick)="deleteItem(item.id)"
        >
          {{ item.name }}
        </li>
      </ul>
    </div>
  </div>

  <form (ngSubmit)="addItem()">
    <label for="shopping-input"></label>
    <input
      id="shopping-input"
      type="text"
      [(ngModel)]="newShoppingItem.name"
      placeholder="Item"
      name="itemName"
    />
    <button type="submit">+</button>
  </form>
</div>
